.form {
  margin-top: 90px;
}

.form-group {
   height: 80px;
    /* padding: 0px 0; */
  }

   .form-group {
    margin: 0 auto;
    max-width: 320px;
  }
  .btn{
      margin: 0 auto;
    max-width:  300px;
  }